* {
	box-sizing: border-box;
}

.App {
	height: 100vh;
}

.darkmode {
	background-color: #202020;
	color: rgb(218, 218, 218);
}

/* width */
::-webkit-scrollbar {
	width: 4px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 60px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
